<!DOCTYPE html>
<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <title>CRUD C#</title>
</head>
<body>
    <h3>Crud C#</h3>
    <ul>
        <li><a asp-controller="Add" asp-action="AddUser">Adicionar</a></li>
        <li><a asp-controller="Get" asp-action="GetUser">Buscar</a></li>
        <li><a asp-controller="Update" asp-action="UpdateUser">Atualizar</a></li>
        <li><a asp-controller="Delete" asp-action="DeleteUser">Deletar</a></li>
    </ul>
</body>
</html>